<div>
    <p>{{ title }}</p>
    <form method="post">
        {% for key in data %}
        <label for="{{ key }}">{{ key }}</label>
        <input name="{{ key }}" id="{{ key }}" placeholder="{{ key }}" required />
        {% endfor %}
        <input type="submit" value="Save" />
    </form>
</div>