<div class="class">
    <p>{{ class_name }}</p>
    <p>Mentor: {{ mentor }}</p>
    <ol>
<<<<<<< HEAD
    {% for student_id, student_name in data %}
        <li><a href="{{ student_id }}">{{ student_name }}</a></li>
    {% endfor %}
=======
        {% for student_id, student_name in data %}
            <li><a href="{{ student_id }}">{{ student_name }}</a></li>
        {% endfor %}
>>>>>>> 1e9b844832883a1ce888633f24c2a17dd9422162
    </ol>
</div>