<div class="data_edition">
    {{ form_start(form) }}

        {{ form_row(form.name, {'First name': 'firstName'}) }}

        {{ form_row(form.name, {'Last name': 'lastName'}) }}

        {{ form_row(form.name, {'email': 'email'}) }}

        {{ form_row(form.name, {'Adress': 'adress'}) }}

        {{ form_row(form.submit, {'Submit': 'SEND'}) }}

    {{ form_end(form) }}
</div>