<div class="login">
    <p>{{ title }}</p>
    <form method="post">
        {% for key, value in data %}
            <div class="row">
                <label for="{{ key }}">{{ key }}</label>
                <input name="{{ key }}" id="{{ key }}" value="{{ value }}" required />
            </div>
        {% endfor %}
        <div class="row">
            <input type="submit" value="Save" />
        </div>
    </form>
</div>