<div>
    <p>{{ title }}</p>
    <form method="post">
    {% for key, value in data %}
        <label for="{{ key }}">{{ key }}</label>
        <input name="{{ key }}" id="{{ key }}" value="{{ value }}" required />
    {% endfor %}
        <input type="submit" value="Save" />
    </form>
</div>