<div class="choice_form">
    <p>{{ title }}</p>
    <form method="post">
        <select title="{{ title }}" multiple >
        {% for key, value in data %}
            <div class="row">
                <option name="{{ key }}" value= {{ key }} >{{ value }}</option>
            </div>
        {% endfor %}
        </select>
        <input type="submit" value="Add" />
    </form>
</div>