<div class="data_edition">
    {{ form_start(form) }}

    {{ form_row(form.name, {'Quest name': 'questName'}) }}

    {{ form_row(form.name, {'Quest description': 'questDescription'}) }}

    {{ form_row(form.name, {'CC value': 'ccValue'}) }}

    {{ form_row(form.submit, {'Submit': 'SEND'}) }}

    {{ form_end(form) }}
</div>