<div class="team">
    <p>{{ team_name }}</p>
    <ol>
        {% for student_id, student_name in data %}
<<<<<<< HEAD
        <li><a href="{{ student_id }}">{{ student_name }}</a></li>
=======
            <li><a href="{{ student_id }}">{{ student_name }}</a></li>
>>>>>>> 1e9b844832883a1ce888633f24c2a17dd9422162
        {% endfor %}
    </ol>
</div>